{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if items %}
        <table class="table table-light table-striped">

          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
              <th scope="col">State</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
            <tr>
              <td>
                  <a href="{% url 'donations:donate_comment' id=item.id %}"> {{ item.name }} </a>
                  {% for description in item.itemdescription_set.all %}
                      {{ description.estimate }}
                      {{ description.comment }}
                      {% if description.photo %} <img style="max-height: 100px;" src="{{ description.photo.url }}"/> {% endif %}
                  {% endfor %}
              </td>
              <td>{{ item.amount }}</td>
              <td>{{ item.state }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
        {% else %}
            <h3> Nothing to display in list </h3>
        {% endif %}
    </div>

{% endblock %}