{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if items %}
        <table class="table table-light table-striped">

          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
              <th scope="col">State</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
            <tr>
              <td>{{ item.name }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.state }}</td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
        {% else %}
            <h3> Nothing to display in list </h3>
        {% endif %}
    </div>

{% endblock %}