{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container" >

      <div class="container-sm alert alert-secondary card" style="width: 28rem;">
          <h3> Ask donation form </h3>
          <form method='post' action='{{ ask_donate }}'>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary ">Click for ask donate</button>
         </form>
      </div>

      <div class="container-sm alert alert-secondary" style="width: 28rem;">
          <h3> Make donation form </h3>
          <form method='post' action='{{ make_donate }}'>

              {% csrf_token %}
              {{ item_form | crispy}}

              <button type="submit" class="btn btn-primary">Click for make donate</button>
          </form>
      </div>

    </div>

{% endblock %}